/* Queries */

/* Breakpoints */
/* XS - < 576px */
/* Small - >= 576px */
/* Medium - >= 768px */
/* Large - >= 992px */
/* XL - >= 1200px */
/* XXL - >= 1400px */

/* XS */
@media screen and (max-width: 576px) {
  /* nav */
  nav {
    justify-content: center;

    gap: 90px;
  }

  .desktop-nav {
    display: none;
  }

  .menu1 {
    display: grid;
  }

  /* Intro */
  .intro-section {
    padding: 0 80px;
    text-align: center;
  }
  .intro-title {
    font-size: 24px;
    font-weight: 700;

    letter-spacing: 3px;

    color: white;
    text-align: center;
  }

  .intro-text {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;

    color: white;
  }

  .intro-button {
    padding: 1rem 3rem;
    color: black;
    background-color: #ffb548;

    font-size: 10px;
    font-weight: bold;
    border-radius: 3px;
    border: none;
  }

  /* about */
  .container-about {
    padding: 40px 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about-text-group {
    align-items: center;
    justify-content: center;
  }

  .about-text {
    font-size: 14px;
    margin-bottom: 92px;
  }

  .about-title {
    font-size: 24px;
    width: auto;
    min-width: auto;

    margin-bottom: 24px;
  }

  .about-img-group {
    margin-top: 48px;
    width: 400px;
  }

  /* feature */
  .container-feature {
    padding: 40px 120px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .feature-text {
    font-size: 14px;
    margin-bottom: 96px;
    text-align: center;
  }

  .feature-title {
    font-size: 32px;
    margin-bottom: 48px;

    text-align: center;
  }

  .feature-list {
    gap: 26px;
  }

  .feature-list-items-title-full::before {
    border: none;
    width: 20px;
  }

  .feature-list-items-title-full::after {
    height: 140px;
  }

  .feature-list-items-title,
  .feature-list-items-title-full {
    font-size: 20px;
  }

  .feature-list-items-text {
    font-size: 14px;
    margin-left: -4px;
  }

  /* requirements */
  .container-requirements {
    padding: 40px 40px;
  }

  .requirements-text {
    font-size: 12px;
  }

  .requirements-title {
    font-size: 24px;
    padding-left: 0;
    margin-bottom: 48px;

    text-align: center;
  }

  .spec-requirements {
    width: 100%;
  }

  .requirements-borders {
    /* display: flex;
      flex-wrap: wrap; */
    display: grid;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e";
    width: auto;
  }

  .requirements-borders-items:last-child {
    border-bottom-right-radius: 12px;
  }

  .requirements-borders-items-title {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 2px;

    color: #ffb548;
  }
  .requirements-borders-items-text {
    font-size: 14px;
    font-weight: normal;

    font-family: "Open Sans";

    color: white;
  }

  /* scores */
  .scores-card-desktop {
    display: none;
  }

  .scores-card-mobile {
    display: block;
  }

  .container-scores {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url("/Assets/bg-scores.avif");
    background-position: center;
    background-size: cover;
    position: relative;

    min-height: 100%;
    max-height: 100%;
    padding: 80px 0;

    display: flex;
    flex-direction: column;
    gap: 90px;
    justify-content: center;
    align-items: center;
  }

  .scores-text-group {
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    text-align: center;
  }

  .scores-text {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 24px;

    color: white;
    font-family: "Open Sans";
  }

  .scores-title {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 24px;

    color: white;

    width: fit-content;
  }

  .scores-button {
    padding: 1rem 3rem;
    color: black;
    background-color: #ffb548;

    font-size: 14px;
    border-radius: 8px;
    border: none;

    width: fit-content;
  }

  .scores-cards-group {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .scores-cards-item {
    width: 100%;
    height: fit-content;

    border-radius: 8px;
    background-color: rgb(27, 29, 30);
    padding: 12px;

    display: flex;
    justify-content: center;
  }

  .middle-card {
    margin-left: 0;
  }

  .card-header-img {
    width: 38px;
    height: 38px;
    border-radius: 50%;

    box-shadow: 5px 1px 0px 3px rgba(255, 181, 72, 1);
    -webkit-box-shadow: 5px 1px 0px 3px rgba(255, 181, 72, 1);
    -moz-box-shadow: 5px 1px 0px 3px rgba(255, 181, 72, 1);
  }

  .scores-cards-item {
    display: flex;
    flex-direction: column;
    gap: 16px;

    position: relative;
  }

  .card-header {
    display: flex;
    gap: 28px;

    align-items: center;
  }

  .card-header-id {
    display: flex;
    flex-direction: column;
  }

  .bi-twitter {
    display: none;
  }

  .scores-twitter {
    position: absolute;
    right: 25px;
  }

  .card-header-name {
    color: #ffb548;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
  }

  .card-header-desc {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;

    font-family: "Open Sans";
  }

  .card-body {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;

    color: white;
  }

  .card-footer {
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 19px;

    color: rgba(255, 255, 255, 0.6);
  }

  /* newsletter */
  .container-newsletter {
    padding: 80px 20px;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;

    flex-direction: column;
  }

  .newsletter-text-group {
    display: flex;
    flex-direction: column;

    gap: 24px;

    width: 60%;

    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .newsletter-text {
    font-size: 16px;
  }

  .newsletter-text-desc {
    font-size: 14px;
    width: 75%;
  }

  .newsletter-title {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 3px;

    color: white;
  }

  .img-fade {
    opacity: 90%;
  }

  .newsletter-img {
    width: 300px;
    height: 400px;

    border-radius: 50%;

    box-shadow: 0px 0px 68px 43px rgba(8, 10, 11, 1);
  }

  .newsletter-cta {
    display: flex;
    flex-direction: column;
    gap: 24px;

    justify-content: center;
    align-items: center;

    width: fit-content;
  }

  .newsletter-button {
    padding: 1rem 3rem;
    font-size: 12px;
    height: 100%;
    width: 100%;
  }

  .newsletter-cta-input {
    width: 100%;
    border-radius: 4px;

    font-size: 16px;
    padding-left: 8px;
    border: none;

    color: #ffb548;
    background-color: #1c1e1f;
  }

  /* footer */
  footer {
    background-color: #07090a;
    border: none;
    padding: 48px 80px;
  }

  footer ul {
    list-style: none;
  }

  .footer-top-top {
    display: flex;
    gap: 8px;

    justify-content: center;
    align-items: center;
  }

  .footer-top-bottom {
    display: flex;
    gap: 24px;
  }

  .footer-items-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }

  .footer-items {
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 10%;

    color: white;

    text-align: center;
  }

  .footer-items-bottom:first-child {
    list-style: none;
  }

  .footer-items-group-bottom {
    display: flex;
    gap: 32px;
    width: auto;
    list-style: "|";

    text-align: center;
  }

  .footer-copyright {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;

    color: rgba(255, 255, 255, 0.6);

    text-align: center;
  }

  .footer-items-bottom {
    padding-left: 15px;
  }

  .footer-bot {
    padding-top: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-direction: column;
  }
}

/* Small */
@media screen and (min-width: 576px) {
  /* nav */
  nav {
    justify-content: space-between;
  }

  .desktop-nav {
    display: none;
  }

  .menu1 {
    display: grid;
  }

  /* Intro */
  .intro-section {
    padding: 0 80px;
    text-align: center;
  }
  .intro-title {
    font-size: 52px;
    font-weight: 700;

    line-height: 82.79px;
    letter-spacing: 3px;

    color: white;
    text-align: center;
  }

  .intro-text {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;

    color: white;
  }

  .intro-button {
    padding: 1rem 3rem;
    color: black;
    background-color: #ffb548;

    font-size: 10px;
    font-weight: bold;
    border-radius: 3px;
    border: none;
  }

  /* about */
  .container-about {
    padding: 80px 80px;

    display: flex;
    flex-direction: column;
    gap: 42px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about-text-group {
    align-items: center;
    justify-content: center;
  }

  .about-text {
    font-size: 14px;
    margin-bottom: 92px;
  }

  .about-title {
    font-size: 32px;
    width: auto;
    min-width: auto;
  }

  .about-img-group {
    height: fit-content;
  }

  .about-img {
    aspect-ratio: 1.8 / 1;
  }

  /* feature */
  .container-feature {
    padding: 40px 120px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .feature-text {
    font-size: 14px;
    margin-bottom: 96px;
    text-align: center;
  }

  .feature-title {
    font-size: 32px;
    margin-bottom: 48px;

    text-align: center;
  }

  .feature-list {
    gap: 26px;
  }

  .feature-list-items-title-full::before {
    border: none;
  }

  .feature-list-items-title-full::after {
    height: 60px;
  }

  .feature-list-items-title,
  .feature-list-items-title-full {
    font-size: 20px;
  }

  .feature-list-items-text {
    font-size: 14px;
  }

  /* requirements */
  .container-requirements {
    padding: 40px 80px;
  }

  .requirements-text {
    font-size: 12px;
  }

  .requirements-title {
    font-size: 36px;
    padding-left: 0;
    margin-bottom: 48px;

    text-align: center;
  }

  .spec-requirements {
    width: 100%;
  }

  .requirements-borders {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-areas:
      "a b c d"
      "e e e e";
    width: auto;
  }

  .requirements-borders-items:last-child {
    border-bottom-right-radius: 12px;
  }

  .requirements-borders-items-title {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 2px;

    color: #ffb548;
  }
  .requirements-borders-items-text {
    font-size: 14px;
    font-weight: normal;

    font-family: "Open Sans";

    color: white;
  }

  /* scores */
  .scores-card-desktop {
    display: none;
  }

  .scores-card-mobile {
    display: block;
  }

  .container-scores {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url("/Assets/bg-scores.avif");
    background-position: center;
    background-size: cover;
    position: relative;

    min-height: 100%;
    max-height: 100%;
    padding: 80px 120px;

    display: flex;
    flex-direction: column;
    gap: 90px;
    justify-content: center;
    align-items: center;
  }

  .scores-text-group {
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    text-align: center;
  }

  .scores-text {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 24px;

    color: white;
    font-family: "Open Sans";
  }

  .scores-title {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 24px;

    color: white;

    width: fit-content;
  }

  .scores-button {
    padding: 1rem 3rem;
    color: black;
    background-color: #ffb548;

    font-size: 14px;
    border-radius: 8px;
    border: none;

    width: fit-content;
  }

  .scores-cards-group {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .scores-cards-item {
    width: 100%;
    height: fit-content;

    border-radius: 8px;
    background-color: rgb(27, 29, 30);
    padding: 12px;

    display: flex;
    justify-content: center;
  }

  .middle-card {
    margin-left: 0;
  }

  .card-header-img {
    width: 38px;
    height: 38px;
    border-radius: 50%;

    box-shadow: 5px 1px 0px 3px rgba(255, 181, 72, 1);
    -webkit-box-shadow: 5px 1px 0px 3px rgba(255, 181, 72, 1);
    -moz-box-shadow: 5px 1px 0px 3px rgba(255, 181, 72, 1);
  }

  .scores-cards-item {
    display: flex;
    flex-direction: column;
    gap: 16px;

    position: relative;
  }

  .card-header {
    display: flex;
    gap: 28px;

    align-items: center;
  }

  .card-header-id {
    display: flex;
    flex-direction: column;
  }

  .bi-twitter {
    text-align: end;
    align-self: center;
    justify-self: end;
  }

  .scores-twitter {
    position: absolute;
    right: 25px;
  }

  .card-header-name {
    color: #ffb548;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
  }

  .card-header-desc {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;

    font-family: "Open Sans";
  }

  .card-body {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;

    color: white;
  }

  .card-footer {
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 19px;

    color: rgba(255, 255, 255, 0.6);
  }

  /* newsletter */
  .container-newsletter {
    padding: 120px 80px;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }

  .newsletter-text-group {
    display: flex;
    flex-direction: column;

    gap: 24px;

    width: 60%;

    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .newsletter-text {
    font-size: 16px;
  }

  .newsletter-text-desc {
    font-size: 14px;
    width: 75%;
  }

  .newsletter-title {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 3px;

    color: white;
  }

  .img-fade {
    opacity: 90%;
  }

  .newsletter-img {
    width: 300px;
    height: 400px;

    border-radius: 50%;

    box-shadow: 0px 0px 68px 43px rgba(8, 10, 11, 1);
  }

  .newsletter-cta {
    display: flex;
    flex-direction: column;
    gap: 24px;

    justify-content: center;
    align-items: center;

    width: fit-content;
  }

  .newsletter-button {
    padding: 1rem 3rem;
    font-size: 12px;
    height: 100%;
    width: 100%;
  }

  .newsletter-cta-input {
    width: 100%;
    border-radius: 4px;

    font-size: 16px;
    padding-left: 8px;
    border: none;

    color: #ffb548;
    background-color: #1c1e1f;
  }

  /* footer */
  footer {
    background-color: #07090a;
    border: none;
    padding: 48px 80px;
  }

  footer ul {
    list-style: none;
  }

  .footer-top-top {
    display: flex;
    gap: 8px;
  }

  .footer-top-bottom {
    display: flex;
    gap: 24px;
  }

  .footer-items-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }

  .footer-items {
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 10%;

    color: white;
  }

  .footer-items-bottom:first-child {
    list-style: none;
  }

  .footer-items-group-bottom {
    display: flex;
    gap: 32px;
    width: auto;
    list-style: "|";
  }

  .footer-copyright {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;

    color: rgba(255, 255, 255, 0.6);
  }

  .footer-items-bottom {
    padding-left: 15px;
  }

  .footer-bot {
    padding-top: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-direction: column;
  }
}

/* Medium */
@media screen and (min-width: 768px) {
  /* Nav */
  nav {
    justify-content: space-between;
  }

  .desktop-nav {
    display: none;
  }

  .menu1 {
    display: grid;
  }
}

/* Larga */
@media screen and (min-width: 992px) {
  /* about */
  .container-about {
    padding: 250px 162px;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;

    text-align: start;
  }

  .about-text-group {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    width: 40%;
  }

  .about-text {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 18px;
    letter-spacing: 2px;

    color: white;
  }

  .about-title {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 3px;

    color: white;
  }

  .about-img-group {
    width: 60%;
    height: fit-content;
  }

  .about-img {
    width: auto;
    aspect-ratio: 2.2 / 1;
  }

  /* scores */
  .scores-card-mobile {
    display: none;
  }

  .scores-card-desktop {
    display: flex;
  }

  .container-scores {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url("/Assets/bg-scores.avif");
    background-position: center;
    background-size: cover;
    position: relative;

    height: 100%;
    padding: 80px 162px;

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .scores-text-group {
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
  }

  .scores-card-mobile {
    width: 60%;
    height: 100%;
  }

  .scores-text {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 24px;

    color: white;
    font-family: "Open Sans";
  }

  .scores-title {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 24px;

    color: white;

    width: fit-content;
  }

  .scores-button {
    padding: 1rem 4.5rem;
    color: black;
    background-color: #ffb548;

    font-size: 16px;
    border-radius: 8px;
    border: none;

    width: fit-content;
  }

  .scores-cards-group {
    display: flex;
    flex-direction: column;
    gap: 30px;

    padding-left: 100px;
  }

  .scores-cards-item {
    width: 400px;
    height: fit-content;

    border-radius: 8px;
    background-color: rgb(27, 29, 30);
    padding: 12px;

    display: flex;
    justify-content: center;
  }

  .middle-card {
    margin-left: -80px;
  }

  .card-header-img {
    width: 62px;
    height: 62px;
    border-radius: 50%;

    box-shadow: 5px 1px 0px 3px rgba(255, 181, 72, 1);
    -webkit-box-shadow: 5px 1px 0px 3px rgba(255, 181, 72, 1);
    -moz-box-shadow: 5px 1px 0px 3px rgba(255, 181, 72, 1);
  }

  .scores-cards-item {
    display: flex;
    flex-direction: column;
    gap: 16px;

    position: relative;
  }

  .card-header {
    display: flex;
    gap: 28px;

    align-items: center;
  }

  .card-header-id {
    display: flex;
    flex-direction: column;
  }

  .bi-twitter {
    text-align: end;
    align-self: center;
    justify-self: end;
  }

  .scores-twitter {
    position: absolute;
    right: 25px;
  }

  .card-header-name {
    color: #ffb548;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 400;
  }

  .card-header-desc {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;

    font-family: "Open Sans";
  }

  .card-body {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;

    color: white;
  }

  .card-footer {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;

    color: rgba(255, 255, 255, 0.6);
  }

  /* newsletter */

  .container-newsletter {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 17%, rgba(8, 10, 11, 1) 100%);
    position: relative;
    height: 100vh;
    padding: 80px 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }

  .newsletter-text-group {
    display: flex;
    flex-direction: column;

    gap: 24px;

    width: 50%;

    justify-content: start;
    align-items: start;

    text-align: start;
  }

  .newsletter-text {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;

    color: white;
  }

  .newsletter-text-desc {
    font-size: 16px;
    font-weight: 400;

    font-family: "Open Sans";
    color: white;

    margin-bottom: 24px;
  }

  .newsletter-title {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 3px;

    color: white;
  }

  .img-fade {
    opacity: 90%;
  }

  .newsletter-img {
    width: 300px;
    height: 500px;

    border-radius: 50%;

    box-shadow: 0px 0px 68px 43px rgba(8, 10, 11, 1);
  }

  .newsletter-cta {
    display: flex;
    flex-direction: row;
    gap: 24px;

    justify-content: left;
    align-items: center;
  }

  .newsletter-button {
    width: 80%;
    min-width: 60%;
  }

  .newsletter-cta-input {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 250px;
    height: 51px;
    border-radius: 4px;

    font-size: 16px;
    padding-left: 8px;
    border: none;

    color: #ffb548;
    background-color: #1c1e1f;
  }

  /* Footer */
  footer {
    background-color: #07090a;
    border: none;
    padding: 48px 120px;
  }

  footer ul {
    list-style: none;
  }

  .footer-items-group {
    display: flex;

    gap: 32px;

    justify-content: center;
    align-items: center;
    padding-bottom: 40px;

    width: auto;
  }

  .footer-items {
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 10%;

    color: white;
  }

  .footer-items-bottom:first-child {
    list-style: none;
  }

  .footer-items-group-bottom {
    display: flex;
    gap: 32px;
    width: auto;
    list-style: "|";
  }

  .footer-copyright {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;

    color: rgba(255, 255, 255, 0.6);
  }

  .footer-items-bottom {
    padding-left: 24px;
  }

  .footer-bot {
    padding-top: 40px;

    display: flex;
    justify-content: space-between;
  }

  .footer-top-top {
    display: flex;
    gap: 8px;
  }

  .footer-top-bottom {
    display: flex;
    gap: 24px;
  }

  .footer-items-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
}

/* XL */
@media screen and (min-width: 1200px) {
  /* intro */
  .intro-title {
    font-size: 72px;
    font-weight: 700;

    line-height: 82.79px;
    letter-spacing: 3px;

    color: white;
  }

  .intro-text {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;

    color: white;
  }

  .intro-button {
    padding: 1rem 4.5rem;
    color: black;
    background-color: #ffb548;

    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    border: none;
  }

  /* feature */
  .container-feature {
    padding: 0 162px;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .feature-text {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
    letter-spacing: 2px;

    color: white;

    text-align: start;
  }

  .feature-title {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 3px;

    color: white;
    margin-bottom: 48px;
    text-align: start;
  }

  .feature-list {
    display: flex;
    flex-direction: column;
    list-style: none;

    gap: 48px;
  }

  .feature-list-items {
    display: flex;
    flex-direction: column;

    position: relative;
  }

  .feature-list-items-title-full::before {
    background-color: white;
    content: ""; /* Insert content that looks like bullets */
    width: 14px;
    height: 14px;
    border-radius: 999px;
    margin-right: 12px;
  }

  .feature-list-items-title-full::after {
    content: "";
    width: 2px;
    height: 115px;
    color: white;
    background-color: white;

    position: absolute;
    left: 6px;
    top: 20px;
  }

  .feature-list-items-title::before {
    border: 2px solid white;
    content: ""; /* Insert content that looks like bullets */
    width: 14px;
    height: 14px;
    border-radius: 999px;
    margin-right: 12px;
  }

  .feature-list-items-title,
  .feature-list-items-title-full {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 3px;

    margin-bottom: 6px;

    color: #ffb548;

    display: flex;
    align-items: center;
  }

  .feature-list-items-text {
    font-size: 16px;
    font-weight: 400;
    padding-left: 30px;

    color: white;
    font-family: "Open Sans";
  }

  /* requirement */
  .container-requirements {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url("/Assets/requirements.png");
    background-position: center;
    background-size: cover;
    position: relative;

    height: 100vh;
    padding: 80px 162px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .requirements-text {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 48px;
    letter-spacing: 2px;
    align-self: center;

    color: white;
  }

  .requirements-title {
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 3px;
    padding-left: 8px;
    margin-bottom: 32px;

    color: white;

    text-align: start;
  }

  .spec-requirements {
    width: 50%;
  }

  .requirements-borders {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-areas:
      "a b"
      "c d"
      "e e";
  }

  .requirements-borders-items {
    border: 1px solid #979797;
    padding: 19px;
  }

  .requirements-borders-items:last-child {
    border-bottom-right-radius: 12px;
  }

  .requirements-borders-items-title {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 2px;

    color: #ffb548;
  }
  .requirements-borders-items-text {
    font-size: 16px;
    font-weight: normal;

    font-family: "Open Sans";

    color: white;
  }
}

/* xxl */
@media screen and (min-width: 1400px) {
  .p-menu1 {
    display: none;
  }

  .desktop-nav {
    display: flex;
  }

  .middle-nav-items {
    padding-right: 400px;
  }
}

/* Nav */
