@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

nav ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.8;
}

button:hover {
  scale: 1.04;
  opacity: 0.9;
}

.not-ready {
  cursor: pointer;
}

/* Navigation Style */

nav {
  background: rgba(0, 0, 0, 0.6);

  z-index: 999;

  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  width: 100%;

  padding: 16px 162px;
}

nav ul {
  display: flex;

  gap: 24px;
}

nav ul li {
  margin-right: 8px;
}

.nav-logo {
  font-size: 24px;
  font-weight: 700;

  font-family: "Open Sans";
  color: white;
}

.nav-items {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 10%;

  font-family: "Open Sans";
  color: white;
}

/* Intro section style */

.container-intro {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("/Assets/main-bg.jpg");
  background-position: center;
  background-size: cover;
  position: relative;

  height: 100vh;
  width: auto;
}

.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  height: 100%;

  gap: 32px;
}

.scroll-item {
  position: absolute;
  bottom: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

.intro-scroll-item {
  color: white;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
}

/* About styles */
.container-about {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("/Assets/the-games-bg.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  padding: 250px 162px;

  display: flex;
}

.about-text-group {
  display: flex;
  flex-direction: column;

  width: 40%;
}

.about-text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
  letter-spacing: 2px;

  color: white;
}

.about-title {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 3px;

  color: white;
}

.about-img-group {
  width: 60%;
  height: fit-content;
}

.about-img {
  width: auto;
  aspect-ratio: 2.2 / 1;
}

/* feature styles */
.container-feature {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url("/Assets/bg\ image\ 3.png");
  background-position: center;
  background-size: cover;
  position: relative;

  height: 100vh;
  padding: 125px 162px;
}

.feature-content {
  float: right;

  width: 500px;
}

.feature-text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
  letter-spacing: 2px;

  color: white;
}

.feature-title {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 3px;

  color: white;
  margin-bottom: 48px;
}

.feature-list {
  display: flex;
  flex-direction: column;
  list-style: none;

  gap: 48px;
}

.feature-list-items {
  display: flex;
  flex-direction: column;

  position: relative;
}

.feature-list-items-title-full::before {
  background-color: white;
  content: ""; /* Insert content that looks like bullets */
  width: 14px;
  height: 14px;
  border-radius: 999px;
  margin-right: 12px;
}

.feature-list-items-title-full::after {
  content: "";
  width: 2px;
  height: 115px;
  color: white;
  background-color: white;

  position: absolute;
  left: 6px;
  top: 20px;
}

.feature-list-items-title::before {
  border: 2px solid white;
  content: ""; /* Insert content that looks like bullets */
  width: 14px;
  height: 14px;
  border-radius: 999px;
  margin-right: 12px;
}

.feature-list-items-title,
.feature-list-items-title-full {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 3px;

  margin-bottom: 6px;

  color: #ffb548;

  display: flex;
  align-items: center;
}

.feature-list-items-text {
  font-size: 16px;
  font-weight: 400;
  padding-left: 30px;

  color: white;
  font-family: "Open Sans";
}

/* requirement styles */
.container-requirements {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url("/Assets/requirements.png");
  background-position: center;
  background-size: cover;
  position: relative;

  height: 100vh;
  padding: 40px 162px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.requirements-text {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 48px;
  letter-spacing: 2px;
  align-self: center;

  color: white;
}

.requirements-title {
  font-size: 42px;
  font-weight: 400;
  letter-spacing: 3px;
  padding-left: 8px;
  margin-bottom: 32px;

  color: white;
}

.spec-requirements {
  width: 50%;
}

.requirements-borders {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-areas:
    "a b"
    "c d"
    "e e";
}

.grid1 {
  grid-area: a;
}
.grid2 {
  grid-area: b;
}
.grid3 {
  grid-area: c;
}
.grid4 {
  grid-area: d;
}
.grid5 {
  grid-area: e;
}

.requirements-borders-items {
  border: 1px solid #979797;
  padding: 19px;
}

.requirements-borders-items:last-child {
  border-bottom-right-radius: 12px;
}

.requirements-borders-items-title {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 2px;

  color: #ffb548;
}
.requirements-borders-items-text {
  font-size: 16px;
  font-weight: normal;

  font-family: "Open Sans";

  color: white;
}

/* scores styles */
.container-scores {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url("/Assets/bg-scores.avif");
  background-position: center;
  background-size: cover;
  position: relative;

  height: 100%;
  padding: 250px 162px;

  display: flex;
  gap: 90px;
  justify-content: center;
  align-items: center;
}

.scores-text-group {
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
}

.scores-card-mobile {
  width: 80%;
  min-width: 200px;
  height: 100%;
}

.scores-text {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 24px;

  color: white;
  font-family: "Open Sans";
}

.scores-title {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 24px;

  color: white;

  width: fit-content;
}

.scores-button {
  padding: 1rem 4.5rem;
  color: black;
  background-color: #ffb548;

  font-size: 16px;
  border-radius: 8px;
  border: none;

  width: fit-content;
}

.scores-cards-group {
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding-left: 100px;
}

.scores-cards-item {
  width: 400px;
  height: fit-content;

  border-radius: 8px;
  background-color: rgb(27, 29, 30);
  padding: 12px;

  display: flex;
  justify-content: center;
}

.middle-card {
  margin-left: -80px;
}

.card-header-img {
  width: 62px;
  height: 62px;
  border-radius: 50%;

  box-shadow: 5px 1px 0px 3px rgba(255, 181, 72, 1);
  -webkit-box-shadow: 5px 1px 0px 3px rgba(255, 181, 72, 1);
  -moz-box-shadow: 5px 1px 0px 3px rgba(255, 181, 72, 1);
}

.scores-cards-item {
  display: flex;
  flex-direction: column;
  gap: 16px;

  position: relative;
}

.card-header {
  display: flex;
  gap: 28px;

  align-items: center;
}

.card-header-id {
  display: flex;
  flex-direction: column;
}

.bi-twitter {
  text-align: end;
  align-self: center;
  justify-self: end;
}

.scores-twitter {
  position: absolute;
  right: 25px;
}

.card-header-name {
  color: #ffb548;
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 400;
}

.card-header-desc {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;

  font-family: "Open Sans";
}

.card-body {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;

  color: white;
}

.card-footer {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;

  color: rgba(255, 255, 255, 0.6);
}

/* newsletter styles */
.container-newsletter {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 17%, rgba(8, 10, 11, 1) 100%);
  position: relative;
  height: 100vh;
  padding: 250px 162px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.newsletter-text-group {
  display: flex;
  flex-direction: column;

  gap: 24px;

  width: 50%;
}

.newsletter-text {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;

  color: white;
}

.newsletter-text-desc {
  font-size: 16px;
  font-weight: 400;

  font-family: "Open Sans";
  color: white;

  margin-bottom: 24px;
}

.newsletter-title {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 3px;

  color: white;
}

.img-fade {
  opacity: 90%;
}

.newsletter-img {
  width: 300px;
  height: 500px;

  border-radius: 50%;

  box-shadow: 0px 0px 68px 43px rgba(8, 10, 11, 1);
}

.newsletter-cta {
  display: flex;
  gap: 24px;

  justify-content: left;
  align-items: center;
}

.newsletter-button {
  padding: 1rem 4.5rem;
  color: black;
  background-color: #ffb548;

  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
}

.newsletter-cta-input {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 249px;
  height: 51px;
  border-radius: 4px;

  font-size: 16px;
  padding-left: 8px;
  border: none;

  color: #ffb548;
  background-color: #1c1e1f;
}

/* Footer */
footer {
  background-color: #07090a;
  border: none;
  padding: 48px 120px;
}

footer .bi-twitter {
  display: block;
}

footer ul {
  list-style: none;
}

.footer-items-group {
  display: flex;

  gap: 32px;

  justify-content: center;
  align-items: center;
  padding-bottom: 40px;

  width: auto;
}

.footer-items {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 10%;

  color: white;
}

.footer-items-bottom:first-child {
  list-style: none;
}

.footer-items-group-bottom {
  display: flex;
  gap: 32px;
  width: auto;
  list-style: "|";
}

.footer-copyright {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;

  color: rgba(255, 255, 255, 0.6);
}

.footer-items-bottom {
  padding-left: 24px;
}

.footer-bot {
  padding-top: 40px;

  display: flex;
  justify-content: space-between;
}

hr {
  opacity: 40%;
}

/* QUERY */

/* Nav */

.p-menu1 {
  height: 100%;
}

/* Hamburger */
.hamburger1 {
  height: 32px;
  translate: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  z-index: 120;
}

.hamburger1 div {
  background-color: white;
  position: relative;
  width: 40px;
  height: 3.7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  border-radius: 8px;
  translate: 18px;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 23px;
  translate: 18px -10px;

  z-index: 999;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -4px;
  translate: 18px -10px;

  z-index: 999;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: auto;
}

/* Menu */
.menu1 {
  width: 100%;
  background-color: rgba(8, 9, 10, 0.8);
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 25px;
  padding: 0 16px;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border-radius: 8px;

  margin-top: 60px;
}

.menu1 a:first-child {
  margin-top: 20px;
}

.menu1 a:last-child {
  margin-bottom: 20px;
}

.link1 {
  width: 100%;
  margin: 6px 0;
  font: 700 12px "Oswald", sans-serif;

  color: white;
}

.link1:hover {
  background-color: #fff;
  color: rgb(61, 61, 61);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
