@import '@styles/base';

.appContainer {
  max-height: 100%;
  height: 100vh;
  position: relative;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  @include apply-at-xs-size {
    align-items: start;
    padding: 24px 0;
    min-height: 100vh;
  }

  .backgroundImage {
    position: absolute;
    top: 0;
    height: 40%;
    width: 100%;

    @include apply-at-xs-size {
      height: 30%;
    }
  }

  .appLayout {
    width: 40%;
    min-width: 50%;
    height: 600px;

    z-index: 120;

    @include apply-at-xs-size {
      width: 100%;
      padding: 0 24px;
    }

    @include apply-at-md-size {
      width: 80%;
    }

    @include apply-at-lg-size {
      width: 40%;
      padding: 24px;
    }

    .layoutHeader {
      display: flex;
      justify-content: space-between;

      * {
        font-size: 1.6rem;
        letter-spacing: 8px;
        color: white;
      }
    }

    .layoutTodo {
      padding: 24px 0;
      display: flex;
      flex-direction: column;
      position: relative;

      &:last-child {
        gap: 0;
      }

      .inputGroup {
        display: flex;
        position: relative;
        align-items: center;

        .input {
          width: 100%;
          border-radius: 4px;
          padding: 16px 24px;
          padding-right: 54px;
          border: 0;
          font-size: 16px;
          position: relative;

          &:active {
            outline: none;
          }

          &:focus {
            outline: none;
          }
        }

        .inputBtn {
          position: absolute;
          right: 0;
        }
      }

      .taskGroup {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        margin-top: 24px;
        overflow-x: hidden;

        @include apply-at-xs-size {
          max-height: 340px;
        }

        @include apply-at-lg-size {
          max-height: 329px;
        }

        .taskList {
          width: 100%;
          border-bottom: 0.2px solid $light-grayish-blue;
          padding: 16px 24px;
          position: relative;

          display: flex;
          align-items: center;
          gap: 24px;

          position: relative;

          @include apply-at-xs-size {
            font-size: 90%;
          }

          @include apply-at-md-size {
            font-size: 0.75rem;
          }

          .paragraph {
            text-overflow: ellipsis;
            overflow-x: hidden;

            @include apply-at-xs-size {
              width: 56%;
            }

            @include apply-at-md-size {
              width: 80%;
            }

            @include apply-at-lg-size {
              width: 76%;
            }

            &:hover {
              text-overflow: clip;
            }
          }

          .btnGroup {
            position: absolute;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 10px;

            .close,
            .edit {
              height: fit-content;
              margin: -11px;

              &:hover {
                opacity: 0.8;
              }
            }
          }
        }

        .taskListEmpty {
          border: 0;
          overflow: none;
          padding: 24px;
        }

        .taskList:first-child {
          border-radius: 4px 0 0 0;
        }
      }
    }

    .layoutTodoFooter {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      width: 100%;
      background-color: $very-dark-desaturated-blue;
      color: $light-grayish-blue;
      gap: 24px;

      text-align: center;

      border-radius: 0 0 4px 4px;
      border-top: 1px solid gray;

      box-shadow:
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;

      @include apply-at-xs-size {
        height: 40px;
        justify-content: space-between;
        padding: 0 24px;
      }

      @include apply-at-lg-size {
        padding: 12px 24px;
      }

      .subtitle {
        @include apply-at-xs-size {
          font-size: 70%;
        }

        @include apply-at-lg-size {
          font-size: 0.5rem;
        }
      }

      .clearCompleted {
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }

        @include apply-at-xs-size {
          font-size: 70%;
        }
        @include apply-at-lg-size {
          font-size: 0.5rem;
        }
      }

      .functionDesktop {
        gap: 32px;
        cursor: pointer;

        *:hover {
          opacity: 0.7;
        }

        &:active {
          background-color: rgba(0, 0, 0, 0.1);
        }

        @include apply-at-xs-size {
          font-size: 80%;
          display: none;
        }
        @include apply-at-lg-size {
          font-size: 0.7rem;
          display: flex;
        }
      }
    }
  }

  .bottomLayout {
    display: flex;
    flex-direction: column;

    @include apply-at-lg-size {
      padding-top: 0;
    }

    .functionMobile {
      @include apply-at-xs-size {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        cursor: pointer;
        padding: 12px 6px;
        border-radius: 4px;
        font-size: 80%;
      }

      @include apply-at-lg-size {
        display: none;
      }

      *:hover {
        opacity: 0.7;
      }

      .active {
        color: $bright-blue;
      }
    }

    .dragText {
      color: $dark-grayish-blue;
      text-align: center;
      padding-top: 18px;
      opacity: 0.8;

      @include apply-at-xs-size {
        font-size: 80%;
      }

      @include apply-at-lg-size {
        font-size: 10px;
      }
    }
  }
}

// Custom checkbox style
.form-control {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

input[type='checkbox'] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #686b86;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  transform: translateY(-0.075em);
  border-radius: 50%;

  display: grid;

  place-content: center;
}

.form-control + .form-control {
  margin-top: 1em;
}

input[type='checkbox']::before {
  content: '';
  width: 0.7em;
  height: 0.7em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em transparent;

  background: white;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);

  border-radius: 50%;
}

.box::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  filter: blur(20px);
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

input[type='checkbox']:checked {
  background: linear-gradient(#6d7475, #c058f3);
}
// End of custom checkbox style
