@media screen and (max-width: 1200px) {
  /* Styles */

  .app-container {
    padding: 0;
  }

  .top-layout {
    height: 100%;
  }

  .calc-layout {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 24px;
  }

  .top-layout-text {
    font-family: sans-serif;
    color: white;
    font-weight: 700;
    font-size: 24px;
  }

  .calc-btn {
    height: 52px;
    font-size: 19px;
  }

  .prev-numb {
    top: 65px;
    right: 52px;
  }
}
