*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: white;
  overflow: hidden;
}

/* Themes */
:root {
  /* Theme 1 */
  --blue-bg: rgba(59, 70, 100, 1);
  --red-equal: rgba(209, 63, 50, 1);
  --white-button: rgba(234, 227, 219, 1);
  --blue-button: rgba(100, 114, 153, 1);
  --gray-number: rgba(72, 72, 88, 1);
  --blue-display: rgba(24, 31, 50, 1);
  --blue-calc: rgba(37, 45, 68, 1);
}

/* Styles */
.app-container {
  background-color: var(--blue-bg);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  padding: 40px 0;
}

.calc-layout {
  width: 35%;
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  position: relative;
}

.left {
  display: flex;
  gap: 24px;

  justify-content: center;
  align-items: center;
}

.top-layout-btn {
  border: none;
  background-color: inherit;
  color: white;

  cursor: pointer;

  transition: all 150ms ease-in-out;
}

.top-layout-btn:hover {
  opacity: 0.7;
}

.top-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-align: center;
}

.top-layout-text {
  font-weight: 700;
  font-size: 24px;
}

.theme-text {
  font-weight: 700;
  font-size: 14px;
}

.theme-control {
  display: flex;
  align-items: center;
  justify-content: center;

  height: fit-content;
}

/* Untuk switch */

.redButton.horizTranslate2 {
  -webkit-transition: -webkit-transform 0.5s linear;
  -webkit-transform: translateX(20px);
}
.redButton.horizTranslate3 {
  -webkit-transition: -webkit-transform 0.5s linear;
  -webkit-transform: translateX(40px);
}
.redButton.horizTranslate1 {
  -webkit-transition: -webkit-transform 0.5s linear;
  -webkit-transform: translateX(0px);
}

#outerContainer {
  position: relative;
  width: 111px;
  background-color: var(--blue-bg);
}
#buttonContainer {
  background-color: #222d41;
  width: 71px;
  height: 28px;
  position: relative;
  left: 20px;
  top: 0;
  border-radius: 14px;
}
.redButton {
  width: 16px;
  height: 16px;
  background-color: #db3d2b;
  border-radius: 8px;
  position: relative;
  top: 6px;
  left: 6px;
}
#legendTextContainer {
  left: 22px;
  display: inline-block;
  position: absolute;
  top: -24px;
  color: #ffffff;
  font-family: Arial;
  font-size: 10pt;
  text-align: center;
}
.legendText {
  display: inline-block;
  width: 20px;
  padding-bottom: 33px;
  cursor: default;
  user-select: none;
}
#message {
  border: 1px solid #cccccc;
  display: inline-block;
  padding: 4px;
  margin-top: 6px;
  font-family: Arial;
  font-size: 10pt;
}
/* Switch */

.display {
  max-width: 100%;
  height: 120px;
  border-radius: 8px;
  background-color: var(--blue-display);

  padding: 24px;

  font-size: 32px;
  color: var(--white-button);
  letter-spacing: 3px;

  display: flex;
  justify-content: end;
  align-items: center;

  position: relative;

  overflow: hidden;
  overflow-x: hidden;
}

.prev-numb {
  opacity: 0.8;
  font-size: 14px;
  color: white;

  position: absolute;
  top: 85px;
  right: 52px;
}

.buttons {
  background-color: var(--blue-calc);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 24px;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}

.col {
  display: flex;
  gap: 24px;
}

.calc-btn {
  background-color: var(--white-button);
  width: 25%;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;

  font-weight: 700;
  color: var(--gray-number);

  /* box-shadow: inset 0px -20px 25px -24px gray; */

  border: none;
  border-radius: 4px;

  overflow: hidden;

  transition: all 150ms ease-in-out;
  max-width: 25%;
}

.calc-btn:hover {
  scale: 1.02;
  opacity: 0.8;
  cursor: pointer;
}

.calc-btn:active {
  opacity: 0.4;
}

.btn-del,
.btn-reset {
  background-color: var(--blue-button);
  color: var(--white-button);
}

.btn-equal {
  background-color: var(--red-equal);
  color: var(--white-button);
}

.btn-reset,
.btn-equal {
  width: 50%;
  max-width: 50%;
}
