@import '@styles/base';

.light {
  @include wrapper;
  @include light-theme;
}

.dark {
  @include wrapper;
  @include dark-theme;
}

.cold {
  @include wrapper;
  @include cold-theme;
}

.warm {
  @include wrapper;
  @include warm-theme;
}
