@import '@styles/base';

@keyframes image-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loaderComponent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9990;

  img {
    width: 12rem;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    padding: 0.75rem;
    animation: image-spin infinite 1.3s linear;
  }

  &.showLoader {
    display: flex;
  }
}
