@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

:root {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  /* Colour */

  /* Primary */
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);

  --soft-green: hsl(134, 95%, 68%);

  /* Neutral */
  --white-text: hsl(0, 0%, 100%);
  --dark-desaturatedBlue: hsl(236, 21%, 26%);
  --very-darkBlue: hsl(235, 16%, 14%);
  --very-darkerBlue: hsl(234, 17%, 12%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Global Styles */

.app-container {
  background: #211d2b url(/src/assets/images/bg-stars.svg);
  width: 100%;
  height: 100vh;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pattern-img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 21%;
}

.app-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--white-text);
  letter-spacing: 3px;

  margin-top: 62px;
}

.until-text {
  color: var(--white-text);
  font-size: 22;
  opacity: 0.8;

  text-align: center;
}

.countdown-section {
  width: 60%;
  padding: 48px 0;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  position: relative;
}

.box-parent {
  width: 18%;
  aspect-ratio: 1 / 1;

  margin-top: 62px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.box {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;

  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  box-shadow: 0px 30px 30px -40px white;

  animation: moveAround 3000ms infinite;
}

.box-time {
  z-index: 150;
  position: relative;
  color: white;

  font-size: 72px;
  color: var(--soft-green);
}

.cover-box {
  position: absolute;
  top: 0;

  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 200;

  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.top-box {
  position: absolute;
  top: 0;

  width: 100%;
  height: 50%;
  background-color: #34364f;

  border-bottom: 0.2px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.horizontal-line {
  opacity: 0.1;
}

.bottom-box {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 50%;
  background-color: #34364f;

  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.countdown-label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
}

.countdown-label-text {
  font-size: 16px;
  letter-spacing: 2px;
  width: 25%;
  text-align: center;

  color: var(--grayish-blue);
}

/* Bottom part */

.logo-area {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 48px;

  gap: 48px;
}

.logo-area-btn {
  font-size: 48px;
  color: var(--grayish-blue);

  z-index: 120;

  transition: all 1000ms ease-in-out;
}

.logo-area-btn:hover {
  color: var(--soft-green);
  scale: 1.05;
}

@keyframes moveAround {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(0) translateY(6px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.flip {
  animation: flip 1000ms ease-in-out;
}

@keyframes flip {
  0% {
    transform: translateY(-120px);
  }
  100% {
    transform: translateY(0);
  }
}

/* QUERIES */

@media screen and (max-width: 1076px) {
  .app-container {
    background: #211d2b url(/src/assets/images/bg-stars.svg);
    width: 100%;
    height: 100vh;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .pattern-img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .app-title {
    font-size: 24px;
    font-weight: 700;
    color: var(--white-text);
    letter-spacing: 3px;

    margin-top: 62px;
  }

  .countdown-section {
    width: 60%;
    padding: 48px 0;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    position: relative;
  }

  .box-parent {
    width: 25%;
    min-width: 25%;
    aspect-ratio: 1 / 1;

    margin-top: 62px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .box {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;

    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-time {
    z-index: 150;
    position: relative;
    color: white;

    font-size: 64px;
    color: var(--soft-green);
  }

  .countdown-label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
  }

  .countdown-label-text {
    font-size: 16px;
    letter-spacing: 2px;
    width: 25%;
    text-align: center;
    color: var(--grayish-blue);
  }
}

@media screen and (max-width: 768px) {
  .pattern-img {
    height: 35%;
  }

  .app-title {
    text-align: center;
  }

  .countdown-section {
    width: 100%;
    padding: 0 48px;
  }

  .box-time {
    font-size: 28px;
  }

  .countdown-label-text {
    font-size: 12px;
  }

  .logo-area-btn {
    font-size: 36px;
  }
}
