@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

:root {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  /* Colour */

  /* Primary */
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);

  --soft-green: hsl(134, 95%, 68%);

  /* Neutral */
  --white-text: hsl(0, 0%, 100%);
  --dark-desaturatedBlue: hsl(236, 21%, 26%);
  --very-darkBlue: hsl(235, 16%, 14%);
  --very-darkerBlue: hsl(234, 17%, 12%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Global Styles */
