@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 300;
  src: url('/src/static/fonts/Manrope/Manrope-Light.ttf') format('truetype');
}

@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  src: url('/src/static/fonts/Manrope/Manrope-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  src: url('/src/static/fonts/Manrope/Manrope-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  src: url('/src/static/fonts/Manrope/Manrope-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  src: url('/src/static/fonts/Manrope/Manrope-Bold.ttf') format('truetype');
}

