@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;900&display=swap");

// Design

$font-primary: "Nunito Sans", sans-serif;
// Dark Theme
$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue-background: hsl(207, 26%, 17%);
// Light Theme
$dark-gray-light: hsl(0, 0%, 52%);
$very-light-gray-light-background: hsl(0, 0%, 98%);
$very-dark-blue-light-text: hsl(200, 15%, 8%);

// Global Styles

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: auto;
}

// Debug
@mixin debug-border {
  border: 2px solid red;
}

// Media Queries
@mixin for-phone-only {
  @media (max-width: 786px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 787px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1080px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
