/* Queries */

@media screen and (max-width: 1200px) {
  /* Styles */

  .app-bg {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
  }

  .logo-desktop {
    display: none;
  }

  .app-layout {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column-reverse;

    border-radius: 0;
  }

  .form-layout {
    width: 100%;
    padding: 0 24px;

    display: flex;
    flex-direction: column;
  }

  .image-layout {
    width: 100%;
    height: 200px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    margin-bottom: 28px;
  }

  .image-layout-img {
    padding: 20px 40px;
  }

  .app-logo-desktop {
    display: none;
  }

  .app-logo-mobile {
    display: flex;
    gap: 16px;

    justify-content: center;
    align-items: center;

    padding: 24px 0;
    background-color: #355b3e;
    width: 100%;

    text-align: center;
  }

  .app-logo-text {
    color: white;
  }

  .app-form-text {
    font-size: 13px;
  }

  .form-layout-label {
    font-size: 16px;
  }

  .form-layout-input {
    padding: 12px;
  }

  .layout-password {
    top: 12px;
  }

  .input-query {
    margin-top: 12px;
  }

  .input-checkbox-text {
    font-size: 16px;
  }

  .form-btn {
    font-size: 16px;
  }

  .form-login {
    background: #029664;
    color: white;
  }

  .form-login:hover {
    scale: 1.04;
    opacity: 0.8;
  }

  .form-signup {
    border: 1px solid #029664;
    color: #029664;
  }

  .form-signup:hover {
    scale: 1.04;
    background-color: rgba(53, 171, 131, 0.9);
    color: white;
  }

  .bottom-text {
    gap: 28px;
    flex-wrap: wrap;
  }

  .bottom-text-p {
    font-size: 16px;
    width: 100%;

    text-align: center;
  }

  .bottom-text-link {
    font-size: 16px;
  }
}
