*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

html {
  font-family: Inter;
}

body {
  overflow: hidden;
}

a:hover {
  opacity: 0.9;
}

/* Styles */

.logo-mobile {
  display: none;
}

.app-bg {
  background-color: #355b3e;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 120px 312px 135px 312px;
}

.app-layout {
  width: 100%;
  height: 100%;

  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 16px;
}

.form-layout {
  width: 40%;
  height: 100%;

  padding: 20px 32px;

  display: flex;
  flex-direction: column;
}

.image-layout {
  width: 60%;
  height: 100%;
  background: #f5dbc4;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.image-layout-img {
  width: 100%;
  height: 100%;
  padding: 100px 100px;
}

.app-logo-mobile {
  display: none;
}

.app-logo-desktop {
  display: flex;
  gap: 16px;

  justify-content: start;
  align-items: center;

  margin-bottom: 18px;
}

.app-logo-text {
  color: #355b3e;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.app-mid-text {
  color: #355b3e;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;

  margin-bottom: 16px;
}

.app-form-text {
  color: #58745e;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  margin-bottom: 16px;
}

.form-layout-label {
  color: #2f3d4c;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.form-layout-input {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 4px;

  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  border-radius: 8px;
  border: 1px solid #c6d1dc;
  background: #fff;
}

.input-group {
  display: flex;
  position: relative;
}

.layout-password {
  position: absolute;
  right: 10px;
  top: 8px;

  border: none;
  background-color: transparent;
}

.input-query {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  margin-top: 8px;
}

.input-checkbox-group {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 4px;
}

#remember {
  accent-color: #029664;
}

.input-checkbox-text {
  color: #1f2832;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.form-btn {
  display: flex;
  width: 100%;
  padding: 12px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  border: none;
  cursor: pointer;

  transition: all 150ms ease-in-out;
}

.button-layout {
  width: 100%;

  display: flex;
  justify-content: between;
  align-items: center;

  gap: 20px;

  margin-top: 24px;
}

.form-login {
  background: #029664;
  color: white;
}

.form-login:hover {
  scale: 1.04;
  opacity: 0.8;
}

.form-signup {
  border: 1px solid #029664;
  color: #029664;
}

.form-signup:hover {
  scale: 1.04;
  background-color: rgba(53, 171, 131, 0.9);
  color: white;
}

.bottom-text {
  display: flex;
  width: 100%;
  margin-top: 24px;

  gap: 24px;
  justify-content: center;
  align-items: center;

  flex-wrap: nowrap;
}

.bottom-text-p {
  color: #58745e;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  width: auto;

  text-align: start;
}

.bottom-text-link {
  color: #58745e;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  text-decoration: none;
}
