// Primary
$primary-cyan: hsl(180, 66%, 49%);
$primary-violet: hsl(257, 27%, 26%);

// Secondary
$seconday-red: hsl(0, 87%, 67%);

// Neutral
$neutral-gray: hsl(0, 0%, 75%);
$neutral-violet: hsl(257, 7%, 63%);
$neutral-blue: hsl(255, 11%, 22%);
$neutral-dark-violet: hsl(260, 8%, 14%);
