@mixin directionY {
  display: flex;
  flex-direction: column;
}

@mixin directionX {
  display: flex;
  flex-direction: row;
}

@mixin wrapper {
  height: 100%;
  width: 100%;
  background-color: var(--color-bg-2);
  color: var(--color-text);
}
