@import '@styles/base';

.headerWrapper {
  background-color: var(--color-bg) !important;
  box-shadow: 0 0.25rem 0.75rem rgba(25, 49, 83, 0.2) !important;
  display: flex;
  justify-content: space-between;

  @include apply-at-xs-size {
    padding: 0;
  }

  @include apply-at-lg-size {
    padding: 0 124px;
  }

  .contentWrapper {
    @include directionX;

    color: var(--color-text);
    padding: 1rem 0;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    z-index: 999;

    // Desktop
    .navbarDesktop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-left: 200px;

      @include apply-at-xs-size {
        display: none;
      }

      @include apply-at-lg-size {
        display: flex;
      }

      .link {
        list-style: none;
        gap: 16px;
        display: flex;
        color: black;
        margin-left: -90px;

        .linkItem {
          font-size: 14px;
          font-weight: 500;

          * {
            text-decoration: none;
            color: inherit;
            opacity: 0.6;

            &:hover {
              opacity: 1;
            }
          }
        }
      }

      .button {
        display: flex;
        gap: 16px;
        font-weight: 700;

        @include apply-at-xs-size {
          display: none;
        }

        @include apply-at-lg-size {
          display: flex;
        }

        .login {
          padding: 8px 16px;
          background-color: inherit;
          border: none;
          opacity: 0.6;
          font-weight: 700;
        }

        .signUp {
          padding: 8px 16px;
          background-color: $primary-cyan;
          color: white;
          border: none;
          border-radius: 12px;
          font-weight: 700;
        }
      }
    }

    // Mobile
    .topNav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      color: #fff;
      height: 40px;
      width: 20px;
      padding: 1em;

      @include apply-at-lg-size {
        display: none;
      }
    }

    .menu {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .menu > li {
      margin: 0 1rem;
      overflow: hidden;
    }

    .menuButtonContainer {
      display: none;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 14px solid transparent;
    }

    #menuToggle {
      display: none;
    }

    .menuButton,
    .menuButton::before,
    .menuButton::after {
      display: block;
      background-color: black;
      position: absolute;
      height: 4px;
      width: 30px;
      transition: all 900ms cubic-bezier(0.23, 1, 0.32, 1);
      border-radius: 2px;
    }

    .menuButton::before {
      content: '';
      margin-top: -8px;
      z-index: 999;
    }

    .menuButton::after {
      content: '';
      margin-top: 8px;
      z-index: 999;
    }

    #menuToggle:checked ~ .staticBg {
      width: 100%;
      position: absolute;
      height: 200vh;
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
    }

    #menuToggle:checked + .menuButtonContainer {
      border: 14px solid transparent;
      z-index: 200;
    }

    #menuToggle:checked + .menuButtonContainer .menuButton::before {
      margin-top: 0px;
      transform: rotate(405deg);
      background-color: $primary-cyan;
    }

    #menuToggle:checked + .menuButtonContainer .menuButton {
      background: rgba(255, 255, 255, 0);
    }

    #menuToggle:checked + .menuButtonContainer .menuButton::after {
      margin-top: 0px;
      transform: rotate(-405deg);
      background-color: $primary-cyan;
    }

    @media (max-width: 992px) {
      .menuButtonContainer {
        display: flex;
      }
      .menu {
        position: absolute;
        top: 0;
        margin-top: 80px;
        padding: 24px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 998;
      }
      #menuToggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
      }
      #menuToggle:checked ~ .menu li {
        height: 100%;
        padding: 24px;
        border-bottom: 1px solid $primary-cyan;
      }

      .menu > li:first-child {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
      }

      .menu > li:last-child {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
      }

      .menu > li {
        display: flex;
        justify-content: center;
        width: 100%;
        color: white;
        background-color: $primary-violet;
        font-size: 24px;

        a {
          text-decoration: none;
          color: inherit;
        }

        .signUp {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $primary-cyan;
          outline: none;
          padding: 16px 36px;
          color: white;
          border: none;
          border-radius: 12px;
          font-weight: 700;
          width: 80%;
          font-size: 24px;
        }
      }
    }

    .logoImage {
      @include directionX;
      cursor: pointer;
      align-items: center;

      .logo {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
      }
      .title {
        font-weight: 700;
        font-size: 28px;
      }
    }

    .toolbar {
      @include directionX;
      .theme {
        @include directionX;
        align-items: center;
        cursor: pointer;
      }
      .toggle {
        @include directionX;
        align-items: center;
        cursor: pointer;

        @include apply-at-xs-size {
          display: flex;
          gap: 16px;
        }

        .avatar {
          width: 1.2rem;
          height: 1.2rem;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }

        .lang {
          font-family: Poppins, Arial, Helvetica, sans-serif;
          font-weight: 700;
          font-size: 1rem;
          text-transform: uppercase;
        }

        .arrow {
          font-size: 1rem;
        }
      }
    }
  }
}

.menu {
  @include directionX;
  align-items: center;

  .menuAvatar {
    width: 1rem;
    height: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-right: 0.5rem;
  }

  .menuLang {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
  }
}
