@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Primary Colour */
  --orange: 26, 100%, 55%;
  --pale-orange: 25, 100%, 94%;

  /* Neutral */
  --very-dark-blue: 220, 13%, 13%;
  --dark-grayish-blue: 219, 9%, 45%;
  --grayish-blue: 220, 14%, 75%;
  --light-grayish-blue: 223, 64%, 98%;
  --background-end-rgb: 255, 255, 255;
  --black-lightbox-bg: 0, 0, 0, 0.75;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  z-index: 10;
}
