/* Queries */

@media screen and (max-width: 1200px) {
  .app-bg {
    flex-direction: column;
  }

  .gallery-layout {
    width: 100%;
    height: fit-content;
  }

  .row {
    display: none;
  }

  .mobile-image {
    display: flex;
    width: 100%;
    height: 220px;
  }

  .gallery-img {
    height: 100%;
    opacity: 1;
  }

  .gallery-img:hover {
    scale: inherit;
  }

  .right-layout {
    width: 100%;
    height: 100%;
    padding: 20px 40px;
  }

  .form-layout-label {
    font-size: 18px;
  }

  .form-layout-input {
    padding: 14px;
  }

  .layout-password {
    top: 18px;
  }

  .input-checkbox-text {
    font-size: 16px;
  }

  .form-btn {
    font-size: 14px;
  }

  .bottom-text {
    gap: 20px;
  }
  .bottom-text-p {
    font-size: 16px;
  }

  .bottom-text-btn {
    padding: 12px 0;
    width: 28%;
    font-size: 16px;
  }
}
