*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

html {
  font-family: Inter;
}

body {
  overflow: hidden;
}

button {
  cursor: pointer;
}

/* Styles */

.app-bg {
  background: #191a24;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gallery-layout {
  width: 60%;
  height: auto;

  display: flex;
  flex-wrap: wrap;
}

.gallery-img {
  width: 100%;

  border-radius: 8px;
  opacity: 0.6;
}

.gallery-img:hover {
  scale: 1.06;
  opacity: 1;
}

.mobile-image {
  display: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;

  width: 100%;
}

.column {
  flex: 33%;
  max-width: 30%;
}

.column img {
  margin-top: 24px;
  vertical-align: middle;
}

.app-logo {
  display: flex;
  align-items: center;

  gap: 16px;
}

.app-logo-text {
  color: #3e334e;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.form-mid-text {
  color: #3e334e;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* DARI SINI */

.right-layout {
  width: 40%;
  background-color: white;
  padding: 70px 5%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.form-layout-label {
  margin-bottom: 8px;
  color: #2f3d4c;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.form-layout-input {
  width: 100%;
  margin-bottom: 24px;
  margin-top: 8px;

  display: flex;
  padding: 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  border-radius: 8px;
  border: 1px solid #c6d1dc;
  background: #fff;

  color: #3e334e;
}

.input-group {
  display: flex;
  position: relative;
}

.layout-password {
  position: absolute;
  right: 10px;
  top: 16px;

  border: none;
  background-color: transparent;
}

.input-query {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

.input-checkbox-text {
  color: #1f2832;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.input-checkbox-group {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
  color: #3e334e;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

#remember {
  accent-color: #3e334e;
}

.form-btn {
  display: flex;
  width: 100%;
  padding: 12px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  border: none;
  cursor: pointer;

  transition: all 150ms ease-in-out;
}

.button-layout {
  width: 100%;

  display: flex;
  justify-content: between;
  align-items: center;

  gap: 20px;

  margin-top: 24px;
}

.form-login {
  background: #3e334e;
  color: white;
}

.form-login:hover {
  scale: 1.04;
  opacity: 0.8;

  box-shadow: 0px 9px 20px -11px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -2px 14px 24px -11px rgba(0, 0, 0, 1);
  -moz-box-shadow: -2px 14px 24px -11px rgba(0, 0, 0, 1);
}

.form-signup {
  border: 1px solid #3e334e;
  color: #3e334e;
}

.form-signup:hover {
  scale: 1.04;
  background-color: rgba(62, 51, 78, 0.9);
  color: white;

  box-shadow: 0px 9px 20px -11px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -2px 14px 24px -11px rgba(0, 0, 0, 1);
  -moz-box-shadow: -2px 14px 24px -11px rgba(0, 0, 0, 1);
}

.bottom-text {
  display: flex;
  width: 100%;
  margin-top: 24px;

  gap: 28px;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
}
.bottom-text-p {
  color: #3e334e;
  font-family: Inter;
  font-size: 12px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  text-align: center;
}

.bottom-text-btn {
  color: #3e334e;
  border: 1px solid rgba(62, 51, 78, 0.8);
  border-radius: 3px;
  width: 26%;
  padding: 6px 0;
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;

  transition: all 150ms ease-in-out;
}

.bottom-text-btn:hover {
  scale: 1.04;
  background-color: rgba(62, 51, 78, 0.7);
  color: white;
  border: none;

  box-shadow: 0px 9px 20px -11px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -2px 14px 24px -11px rgba(0, 0, 0, 1);
  -moz-box-shadow: -2px 14px 24px -11px rgba(0, 0, 0, 1);
}
