@import "../../base.module.scss";

.detailContainer {
  padding: 48px 48px;

  display: flex;
  flex-direction: column;

  @include for-tablet-landscape-up {
    height: 100%;
    min-height: 100vh;
  }

  @include for-desktop-up {
    height: 100%;
    min-height: 100vh;
  }

  @include for-phone-only {
    width: 100%;
    height: 100%;
    padding: 24px;
    gap: 24px;
  }

  .detailCountry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0;
    width: 100%;

    @include for-phone-only {
      width: 100%;
      padding: 24px 0;
      gap: 24px;
      flex-direction: column;
      align-items: start;
    }

    @include for-tablet-landscape-up {
      flex-direction: column;
      gap: 24px;
      align-items: start;
    }

    @include for-desktop-up {
      flex-direction: row;
    }

    .detailDesc {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 24px;

      @include for-phone-only {
        width: 100%;
      }

      @include for-tablet-landscape-up {
        width: 100%;
      }

      @include for-desktop-up {
        width: 50%;
      }
    }

    .detailImg {
      max-height: 300px;
      border: 1px solid rgba(0, 0, 0, 0.2);

      @include for-phone-only {
        width: 100%;
        padding: 0;
      }

      @include for-tablet-landscape-up {
        width: 100%;
        padding: 0;
      }

      @include for-desktop-up {
        width: auto;
        padding: 0 5%;
      }
    }

    .detailSubtitle {
      display: flex;
      gap: 74px;

      @include for-phone-only {
        gap: 24px;
        flex-direction: column;
        align-items: start;

        .detailSubtitlesSpan {
          font-size: 14px;
        }
      }

      @include for-tablet-landscape-up {
        .detailSubtitlesSpan {
          font-size: 18px;
        }

        .detailSub {
          font-size: 18px;
        }
      }

      @include for-desktop-up {
        .detailSubtitlesSpan {
          font-size: 16px;
        }
      }
    }

    .buttonBordersArea {
      display: flex;
      justify-content: start;

      align-items: center;
      gap: 12px;
      padding-top: 12px;
      flex-wrap: wrap;

      @include for-phone-only {
        flex-wrap: wrap;
      }

      .buttonBorders {
        color: inherit;
        background-color: inherit;
        cursor: auto;
        border-color: inherit;
      }
    }
  }
}

// Skeleton
.skeletonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0;
  width: 100%;

  @include for-phone-only {
    width: 100%;
    padding: 24px 0;
    gap: 24px;
    flex-direction: column;
    align-items: start;
  }

  @include for-tablet-landscape-up {
    flex-direction: column;
    gap: 24px;
    align-items: start;
  }

  @include for-desktop-up {
    flex-direction: row;
  }

  .skeletonImg {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #3d4751;

    @include for-phone-only {
      width: 100%;
      height: 220px;

      padding: 0;
    }

    @include for-tablet-landscape-up {
      width: 100%;
      height: 320px;

      padding: 0;
    }

    @include for-desktop-up {
      width: 700px;
      min-width: 500px;
      padding: 0 5%;
    }
  }

  .skeletonDesc {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include for-phone-only {
      width: 100%;
    }

    @include for-tablet-landscape-up {
      width: 100%;
    }

    @include for-desktop-up {
      width: 50%;
    }

    .skeletonTitle {
      font-size: 24px;
      width: 20%;
      background-color: #3d4751;
    }

    .skeletonText {
      font-size: 14px;
      width: 60%;

      background-color: #3d4751;
    }

    .skeletonBorder {
      height: 40px;
      width: 75%;
      background-color: #3d4751;
    }
  }
}
