@import '@styles/base';

.wrapper {
  @include wrapper;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;

  height: fit-content;
  min-height: 100vh;
  width: 100%;
  padding: 48px;

  @include apply-at-xs-size {
    padding: 24px;
  }

  @include apply-at-md-size {
    padding: 48px;
  }

  @include apply-at-lg-size {
    padding: 48px;
  }

  .box {
    width: 45%;
    height: 450px;
    max-height: 600px;
    border-radius: 16px;
    padding: 32px 48px;
    background-color: var(--color-bg-2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    position: relative;

    @include apply-at-xs-size {
      width: 100%;
    }

    @include apply-at-md-size {
      width: 80%;
    }

    @include apply-at-lg-size {
      width: 65%;
    }

    .btnGroup {
      display: flex;
      gap: 32px;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: relative;
      top: 0;

      .themeBtn {
        @include directionX;
        cursor: pointer;
        border: none;

        background-color: var(--color-bg-2);
        color: var(--color-text);
        transition: all 300ms ease-in-out;
        border-radius: 50%;
        padding: 8px;
      }

      #light:hover {
        color: rgb(209, 209, 27);
        background-color: var(--color-bg);
      }

      #dark:hover {
        color: var(--color-text);
        background-color: var(--color-bg);
      }

      #cold:hover {
        color: aqua;
        background-color: var(--color-bg);
      }

      #warm:hover {
        color: orange;
        background-color: var(--color-bg);
      }
    }

    .skeletonBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 320px;

      .load {
        color: var(--color-other);
      }
    }

    .textBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      gap: 32px;
      height: 100%;
      margin-bottom: 48px;
      width: 90%;
    }

    .title {
      font-size: 14px;
      letter-spacing: 3px;
      font-weight: bold;
      color: var(--color-other);
      position: relative;
    }

    .advice {
      font-size: 28px;
      text-align: center;
      font-weight: bold;
      position: relative;
      width: 100%;

      @include apply-at-xs-size {
        font-size: 120%;
      }

      @include apply-at-md-size {
        font-size: 24px;
      }
    }

    .line {
      width: 80%;
      text-align: center;
      display: flex;
      position: absolute;
      font-size: 24px;
      font-weight: bold;
      bottom: 64px;

      &::before,
      &::after {
        content: '';
        border-bottom: 1px solid var(--color-text);
        width: 48%;
        text-align: center;
        position: relative;
        bottom: 15px;
        margin: 0 12px;
      }
    }
  }

  .button {
    z-index: 120;
    margin-top: -28px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--color-other);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    transition: all 150ms ease-in-out;

    &:disabled {
      color: gray;
      background-color: gray;
    }

    &:disabled > .dice {
      color: black;
    }

    &:hover {
      box-shadow: 0px 0px 40px 1px var(--color-other);
    }

    &:hover:disabled {
      box-shadow: 0px 0px 40px 1px gray;
    }

    &:hover > .dice {
      transform: rotate(23deg);
    }

    &:active {
      scale: 1.1;
    }

    .dice {
      transition: all 100ms ease-in-out;
      font-size: 24px;
      color: var(--color-dice);
    }
  }
}
