@import '@styles/base';

.wrapper {
  background-color: white;
  position: relative;
  width: 100%;

  // INTRO SECTION
  .intro {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    position: relative;
    height: 100%;

    @include apply-at-xs-size {
      flex-direction: column-reverse;
      padding: 0;
      padding-top: 24px;
      padding-bottom: 150px;
      gap: 24px;
    }

    @include apply-at-lg-size {
      padding: 124px;
      flex-direction: row;
    }

    .textGroup {
      display: flex;
      flex-direction: column;

      @include apply-at-xs-size {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 24px;
      }

      @include apply-at-lg-size {
        width: 45%;
        justify-content: start;
        align-items: start;
        text-align: start;
      }

      .title {
        font-weight: 700;
        width: 80%;

        @include apply-at-xs-size {
          font-size: 36px;
        }

        @include apply-at-lg-size {
          font-size: 42px;
        }
      }

      .subtitle {
        opacity: 0.6;
        margin-bottom: 24px;
        width: 80%;

        @include apply-at-xs-size {
          font-size: 18px;
        }

        @include apply-at-lg-size {
          font-size: 16px;
        }
      }

      .button {
        padding: 16px 36px;
        font-weight: 700;
        background-color: $primary-cyan;
        color: white;
        border: none;
        border-radius: 50px;

        @include apply-at-xs-size {
          width: 50%;
          font-size: 16px;
        }

        @include apply-at-lg-size {
          width: fit-content;
        }
      }
    }

    .img {
      width: 400px;
      height: 300px;
      z-index: 1;

      @include apply-at-xs-size {
        border-radius: 0;
      }

      @include apply-at-lg-size {
        border-radius: 48px;
      }
    }
  }

  // INPUT SECTION
  .inputWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #f0f1f6;

    @include apply-at-xs-size {
      padding: 24px 48px;
    }

    @include apply-at-lg-size {
      padding: 24px 124px;
    }

    .form {
      width: 100%;

      @include apply-at-xs-size {
        margin-top: -120px;
      }

      @include apply-at-lg-size {
        margin-top: -90px;
      }

      .label {
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        padding: 48px 24px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;

        @include apply-at-xs-size {
          flex-direction: column;
          background: url('@static/images/images/bg-shorten-mobile.svg'), #3a3053;
        }

        @include apply-at-lg-size {
          flex-direction: row;
          background: url('@static/images/images/bg-shorten-desktop.svg'), #3a3053;
        }

        .error {
          color: red;
          position: absolute;
          font-size: 12px;
          background-color: rgba(0, 0, 0, 0);

          @include apply-at-xs-size {
            bottom: 14px;
          }

          @include apply-at-lg-size {
            bottom: 18px;
          }
        }

        .input {
          padding-left: 8px;
          border-radius: 8px;
          outline: none;
          border: none;

          @include apply-at-xs-size {
            width: 100%;
            font-size: 18px;
            padding: 12px;
          }

          @include apply-at-lg-size {
            width: 85%;
            font-size: 90%;
            padding: 8px;
          }
        }

        .button {
          font-weight: 700;
          background-color: $primary-cyan;
          color: white;
          border: none;
          border-radius: 8px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:disabled {
            background-color: gray;
          }

          @include apply-at-xs-size {
            width: 100%;
            font-size: 18px;
            padding: 12px;
          }

          @include apply-at-lg-size {
            width: fit-content;
            font-size: 70%;
            padding: 12px 24px;
          }
        }
      }
    }

    .shortenedWrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      gap: 24px;

      .loadBox {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
      }

      .row {
        display: flex;
        justify-content: space-between;
        padding: 16px 24px;
        background-color: white;
        border-radius: 8px;

        @include apply-at-xs-size {
          flex-direction: column;
          align-items: center;
          gap: 12px;
        }

        @include apply-at-lg-size {
          flex-direction: row;
          align-items: center;
          gap: 24px;
        }

        .link {
          font-weight: 500;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100%;
          transition: all 150ms ease-in-out;

          @include apply-at-xs-size {
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            padding-bottom: 12px;
            text-align: center;
          }

          @include apply-at-lg-size {
            padding-bottom: 0;
            border: none;
            text-align: start;
          }
        }

        .left {
          display: flex;
          align-items: center;
          justify-content: center;

          @include apply-at-xs-size {
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            gap: 12px;
          }

          @include apply-at-lg-size {
            align-items: center;
            flex-direction: row;
            justify-content: center;
            gap: 24px;
          }

          .btnGroup {
            display: flex;
            gap: 16px;

            .button {
              padding: 10px 16px;
              font-size: 16px;
              font-weight: 700;
              background-color: $primary-cyan;
              color: white;
              border: none;
              border-radius: 8px;
              width: 100%;

              &:hover {
                opacity: 0.6;
              }
            }

            .closeBtn {
              padding: 10px 16px;
              font-size: 16px;
              font-weight: 700;
              background-color: hsl(0, 66%, 49%);
              color: white;
              border: none;
              border-radius: 8px;
              width: 100%;

              * {
                font-size: 36px;
              }
            }

            .active {
              background-color: $primary-violet;
            }
          }

          .shortLink {
            color: $primary-cyan;
            font-weight: 500;
            text-decoration: none;

            &:hover {
              opacity: 0.5;
            }

            &:active {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }

  // ABOUT SECTION
  .about {
    position: relative;
    background-color: #f0f1f6;

    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 100%;

    @include apply-at-xs-size {
      padding: 48px 24px;
      height: 100%;
    }

    @include apply-at-lg-size {
      padding: 64px 124px;
      height: 100vh;
    }

    .textWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 12px;
      text-align: center;

      .title {
        font-size: 28px;
        font-weight: 700;
      }

      .subtitle {
        font-size: 16px;
        opacity: 0.6;

        @include apply-at-xs-size {
          width: 100%;
        }

        @include apply-at-lg-size {
          width: 50%;
        }
      }
    }

    .cardWrapper {
      display: flex;
      gap: 24px;
      justify-content: center;
      position: relative;

      @include apply-at-xs-size {
        flex-direction: column;
        align-items: center;
      }

      @include apply-at-lg-size {
        flex-direction: row;
      }

      .card {
        width: 300px;
        padding: 24px;
        background-color: white;
        min-height: 300px;
        border-radius: 8px;
        position: relative;
        z-index: 999;

        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        display: flex;
        flex-direction: column;
        gap: 24px;
        position: relative;

        @include apply-at-xs-size {
          align-items: center;
          margin-bottom: 24px;
        }

        @include apply-at-lg-size {
          align-items: start;
          margin-bottom: 0;
        }

        &:nth-child(2) {
          @include apply-at-xs-size {
            margin-top: 0;
          }
          @include apply-at-lg-size {
            margin-top: 35px;
          }
        }

        &:nth-child(3) {
          @include apply-at-xs-size {
            margin-top: 0;
          }
          @include apply-at-lg-size {
            margin-top: 70px;
          }
        }

        .imgWrapper {
          background-color: $primary-violet;

          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          margin-top: -50px;

          @include apply-at-xs-size {
            width: 72px;
            height: 72px;
          }

          @include apply-at-lg-size {
            width: 52px;
            height: 52px;
          }

          img {
            width: 21px;
            height: 21px;
          }
        }

        .title {
          font-size: 20px;
          font-weight: 700;
        }

        .subtitle {
          font-size: 16px;
          opacity: 0.6;
        }
      }
    }

    .line {
      height: 10px;
      width: 50%;
      background-color: $primary-cyan;
      position: absolute;
      top: 200px;
      z-index: 0;

      @include apply-at-xs-size {
        display: none;
      }

      @include apply-at-lg-size {
        display: block;
      }
    }

    .lineMobile {
      height: 60%;
      width: 10px;
      background-color: $primary-cyan;
      position: absolute;
      top: 200px;
      z-index: 0;

      @include apply-at-xs-size {
        display: block;
      }

      @include apply-at-lg-size {
        display: none;
      }
    }
  }

  // START SECTION
  .start {
    width: 100%;
    margin: 0;

    background-size: cover;
    background-position: center;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    color: white;

    @include apply-at-xs-size {
      background: url('@static/images/images/bg-boost-mobile.svg'), #3a3053;
      padding: 42px 24px;
    }

    @include apply-at-lg-size {
      background: url('@static/images/images/bg-boost-desktop.svg'), #3a3053;
      padding: 42px 0;
    }

    .title {
      @include apply-at-xs-size {
        font-size: 28px;
      }

      @include apply-at-lg-size {
        font-size: 32px;
      }
    }

    .button {
      padding: 12px 32px;
      font-size: 16px;
      font-weight: 700;
      background-color: $primary-cyan;
      color: white;
      border: none;
      border-radius: 50px;
      width: fit-content;
    }
  }

  // FOOTER SECTION
  .footer {
    padding: 48px 124px;
    display: flex;

    background-color: $neutral-dark-violet;
    color: white;

    @include apply-at-xs-size {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;
    }

    @include apply-at-lg-size {
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
      gap: 0;
    }

    .logo {
      font-weight: 700;

      @include apply-at-xs-size {
        font-size: 1.8rem;
      }

      @include apply-at-lg-size {
        font-size: 24px;
      }
    }

    .link {
      list-style: none;
      display: flex;
      color: white;

      @include apply-at-xs-size {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        text-align: center;
      }

      @include apply-at-lg-size {
        flex-direction: row;
        align-items: first baseline;
        justify-content: space-between;
        text-align: start;
        gap: 100px;
      }

      .title {
        margin-bottom: 12px;

        @include apply-at-xs-size {
          font-size: 1rem;
        }

        @include apply-at-lg-size {
          font-size: 0.8rem;
        }
      }
      .listGroup {
        list-style: none;

        .listItem {
          .listLink {
            color: inherit;
            text-decoration: none;
            opacity: 0.6;

            @include apply-at-xs-size {
              font-size: 1rem;
            }

            @include apply-at-lg-size {
              font-size: 0.8rem;
            }

            &:hover {
              color: $primary-cyan;
              opacity: 1;
            }
          }
        }
      }
    }

    .icons {
      display: flex;
      gap: 16px;

      .iconLink {
        color: inherit;

        .icon {
          font-size: 32px;

          &:hover {
            color: $primary-cyan;
            opacity: 1;
          }

          @include apply-at-xs-size {
            margin-top: 12px;
          }

          @include apply-at-lg-size {
            margin-top: 0;
          }
        }
      }
    }
  }
}
