@mixin light-theme {
  --color-bg: hsl(0, 0%, 98%);
  --color-bg-2: hsl(236, 33%, 92%);
  --color-text: hsl(0, 0%, 100%);
  --color-text-2: hsl(235, 19%, 35%);
}

@mixin dark-theme {
  --color-bg: hsl(235, 21%, 11%);
  --color-bg-2: hsl(235, 24%, 19%);
  --color-text: hsl(0, 0%, 100%);
  --color-text-2: hsl(234, 39%, 85%);
}
