/* Queries */

@media screen and (max-width: 1200px) {
  .app-bg {
    height: auto;
    width: 100%;
    padding: 25px 0 0 0;
    padding-bottom: 0;
    margin-bottom: 0;

    gap: 24px;
  }

  .login-layout {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
  }

  .logo-text {
    font-size: 28px;
  }

  .top-layout-picture {
    left: 25px;
  }

  .top-layout-profile {
    gap: 42px;
  }

  .top-layout-text {
    font-size: 20px;
  }

  .form-layout-label {
    font-size: 18px;
  }

  .form-layout-input {
    padding: 14px;
  }

  .layout-password {
    top: 15px;
  }

  .input-checkbox-group {
    gap: 8px;
  }

  .input-checkbox-text {
    font-size: 18px;
  }

  .form-btn {
    padding: 18px 12px;
    font-size: 14px;
  }

  .form-btn .login-btn {
    margin-bottom: 24px 0;
  }

  .layout-not-text {
    font-size: 18px;
  }

  .bottom-layout {
    padding: 0 24px 24px 24px;
  }
}
