@import "../../base.module.scss";

.contentContainer {
  width: 100%;
  padding: 0 48px;

  background: $very-light-gray-light-background;
  padding-bottom: 48px;
  min-height: 100vh;

  .inputArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0;

    .searchInput {
      width: 40%;
    }
    .rightInputArea {
      width: 30%;
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 24px;
      padding-right: 10px;

      @include for-phone-only {
        width: 100%;
        justify-content: start;
      }

      .sortBtn {
        border-color: inherit;

        &:hover {
          opacity: 0.8;
        }
      }

      .dropdownBar {
        width: 70%;
      }
    }

    @include for-phone-only {
      flex-direction: column;
      padding: 24px 0;
      gap: 24px;
      justify-content: start;
      align-items: start;

      .searchInput {
        width: 100%;
      }

      .dropdownBar {
        width: 85%;
        margin-left: -8px;
      }
    }
  }

  .cardArea {
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
    justify-content: start;
    padding-bottom: 200px;

    @include for-phone-only {
      flex-direction: column;
    }

    .skeletonBox {
      display: flex;
      gap: 24px;

      @include for-phone-only {
        width: 100%;
      }

      @include for-tablet-landscape-up {
        width: 48%;
      }

      @include for-desktop-up {
        width: 22.8%;
      }

      .skeleton {
        height: 300px;
        width: 100%;
      }
    }

    .cards {
      display: flex;
      justify-content: center;
      align-items: start;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

      @include for-phone-only {
        width: 100%;
      }

      @include for-tablet-landscape-up {
        width: 48%;
      }

      @include for-desktop-up {
        width: 22.8%;
      }

      &:hover {
        scale: 1.05;
        opacity: 0.9;
      }

      .cardImage {
        height: 200px;
        object-fit: cover;
        background: rgba(122, 122, 122, 0.4);

        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        @include for-phone-only {
          object-fit: fill;
          height: auto;
        }
      }

      .cardListGroup {
        list-style-type: none;
      }
    }
  }
}
